.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header_logo {
  display: block;
  justify-self: center;
}

.header_logo-image {
  display: block;
  width: 100%;
  width: 148px;
  height: 105px;
}

.header_menu-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header_menu-link {
  color: #000;
  line-height: none;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header_links-list-item {
  list-style: circle;
  list-style-position: inside;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  font-style: normal;
  line-height: 24.3px;
  min-width: 240px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.address_text {
  margin: 0;
  padding: 0;
}

.header_link {
  color: #000000;
  margin: 0;
  text-underline-offset: 4px;
}

.header_text {
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover {
  position: relative;
  min-height: 757px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px;
  min-width: 1100px;
}

.cover_title {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  color: #fff;
  line-height: 114%;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  font-display: swap;
  letter-spacing: 0.3em;
  z-index: 2;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
  margin-right: -0.3em;
}

.text-right {
  text-align: right;
  margin-right: -0.3em;
}

.description {
  display: flex;
  align-items: center;
  gap: 30px;
}

.subline {
  font-family: "Raleway", sans-serif;
  font-display: swap;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 28px;
  z-index: 2;
  position: absolute;
  bottom: 61px;
  left: 50px;
  letter-spacing: 0.5px;
  word-spacing: 15px;
}

.button {
  background: transparent;
  cursor: pointer;
  padding: 12px 32px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.lots__item {
  max-width: 334px;
  min-height: 60px;
}

.lots {
  padding: 0 24px 0 24px;
  margin-top: 180px;
}

.lots_heading {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 0;
  padding: 0 40px;
}

.lots_card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lots_card-list-item {
  display: flex;
}

.card-link {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 596px;
  min-width: 334px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.card_title,
.card_text {
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin: 0;
  padding-top: 48px;
}

.card_text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.2;
  margin: 0;
  margin-top: auto;
}

.lots_look-more-link {
  display: block;
  width: fit-content;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  margin-top: 155px;
  display: grid;
  grid-template-columns: 334px auto;
  padding: 0 24px 0 24px;
  align-items: start;
  gap: 25px;
}

.about_column {
  display: grid;
  margin: 0;
  padding: 0;
}

.about_logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin: 0;
}

.about_logo-image {
  width: 148px;
  height: auto;
  margin: 0;
  padding: 0;
}

.about_title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding: 98px 0 100px 0;
  margin: 0;
}

.about_text {
  display: flex;
  flex-direction: column;
  max-width: 693px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-bottom: 180px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0 50px 82px 50px;
  gap: 0;
}

.footer_menu {
  display: flex;
  justify-content: center;
}

.footer_menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.footer_address {
  margin-right: auto;
}

.footer_menu-link {
  color: #000;
  text-decoration: underline;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
